<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="com.bidi.springguru.model.Owner"*/-->
    <h2 th:text="'List of Owners'">List of Owners</h2>
    <table class="table table-striped">
        <thead>
            <tr style="width: 150px;">Id</tr>
            <tr style="width: 150px;">First Name</tr>
            <tr style="width: 150px;">Last Name</tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">Id</td>
            <td th:text="${owner.firstName}">First Name</td>
            <td th:text="${owner.lastName}">Last Name</td>
        </tr>
        </tbody>
    </table>
</body>
</html>